@model GenericViewModel

<br />
<br />
<h1>Signed-in user's Profile</h1>

Backend API result: @Model.Content

<table class="table table-striped table-condensed" style="font-family: monospace" border="1">
    <thead>
    </thead>
    <tbody>
    </tbody>
</table>